
/*********************************************/

.hidden {
    display: none;
}

#info {
    position: absolute;
    width: 80vw;
    height: 40vh;
    top: 20vh;
    left: 50vw;
    transform: translate(-40vw, 0);  
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    align-content: center;
    color: white;
    background: #000033aa;
}

#info #close-info {
    flex: 0 1 auto;
}

#info a {
    color: rgb(6, 232, 248);
}

#info div {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 2vh;
    text-align: center;
    line-height: 25px;
}


/**********************************************************/

.ui {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: inherit;
    height: inherit;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}


#dialog-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
    justify-content: stretch;
 }
 
 #messages-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background:  #150e29aa;
    border: 1px solid #0f096b;
    flex: 1 0 auto;
    width: 98vw;
    margin-bottom: 1vh;
    justify-content: flex-end;
 }


 #replicies {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    margin: 10px;
 }


/*****************************************/

.ui button {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 2.2em;
    transition: 0.2s;  
    color: #c4e2ff; 
    border: 1px solid #c1e1ff; 
    height: 2em;
    overflow: hidden;
    border-radius: 5px; 
    background: #004ba193;
    cursor: pointer;
    max-width: 360px;
}


.butt-left {
    bottom: 2em;
    left: 1em;
}

.butt-right {
    bottom: 2em;
    left: 5em;
}

.butt-front {
    bottom: 2em;
    right: 1em;
}

.butt-fullscreen {
    top: 1em;
    right: 1em;
}

.butt-info {
    top: 1em;
    right: 5em;
    height: 2em;
}

.butt-toggleDialog {
    bottom: 2.7em;
    max-width: 30vw;
    min-width: 30vw;
    left: 35vw;
}




.ui button.control {
    height: 3.1em;
    width: 3.1em;
    border-radius: 2.8em;
    margin: 0.2em;
}



.ui button:hover {
    background:#7dc0ff; 
    color: #001950;
    border-color:  #001950;
    cursor: pointer;
}



.dialog {
    position: absolute;
    top: 3em;
    left: 0;
    right: 0;
    bottom: 14em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}

.dialog-inner {
    flex: 2 0 auto;
    display: flex;
    box-sizing: border-box;
    max-width: 30vw;
    min-width: 320px;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
    padding: 20px;
    background: rgba(0, 59, 119, 0.58);
    border-radius: 5px;
    padding: 20px;
    font-size: 2.2em;
    color: white;
}


.userReplicies {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    align-content: stretch;

}

.userReplicies button {
    position: static;
    flex: 2 0 auto;
    margin: 1px;
    font-size: 1em;
    max-width: 1000px;

}

.botAnswers {
    flex: 1 0 auto;
}

.botAnswers .q {
    display: flex;
    font-size: .9rem;
    color: #faffcb;
    justify-content: flex-end;
}

.botAnswers .a {
    font-size: 1.2rem;
    color: #f9fffd;
    margin-bottom: .8rem;
}





/****************************************************/


.info-cont {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.info-wrap {
    color: white;
    position: relative;
    width: 90vw;
    max-width: 800px;
    background: rgba(69, 10, 77, 0.733);
    padding: 4em;
}

.info-wrap div{
    margin: 2.7em 0;
    font-size: 2.2em;
}

.info-wrap a{
    color: rgb(84, 233, 103);
}

.info-wrap button{
    position: absolute;
    right: 3px;
    top: 3px;
    font-size: 2.8em;
    transition: 0.2s;  
    color: #c4e2ff; 
    border: 1px solid #c1e1ff; 
    height: 2.2em;
    width: 2.2em;
    overflow: hidden;
    border-radius: 5px; 
    background: #004ba193;
    cursor: pointer;
    max-width: 360px;
}